@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #FFFFFF 26.04%, #F6FBFF 100%);
    font-family: 'Montserrat', sans-serif;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.base-text-pry-color {}

.base-text-secondary-color {}